.main-content {

    #danialmainname{
        padding: 20px;
        font-family: 'Dancing Script', cursive;
    }
    .ayatpengenalan{
        padding-left: 2rem;
    }
    .danial-img {
        position: absolute;
        width: 18rem;
        height: 19rem;
        margin-top: -19.5rem;
        margin-left: 60%;
    }

    .short-about {
        margin-top: -2rem;
    }
}

.butang-main {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: -0.5em;
    margin-bottom: -0.5em;
    //background-color: red;

    > * {
        margin-left: 0.5em;
        margin-bottom: 0.5em;
    }

    .btn-1 {
        // background-color: $btn-1;
        text-align: center;
        font-size: $font-sm;
        border-radius: 7px;
        width: 20rem;
        height: 2.5rem;
        color: $gray;
        font-weight: $links-size;
        transition: ease-in-out 0.3s;
    }

    .btn-2 {
        // background-color: $btn-2;
        text-align: center;
        font-size: $font-sm;
        border-radius: 7px;
        width: 20rem;
        height: 2.5rem;
        color: $gray;
        font-weight: $links-size;
        transition: color 300ms ease-in-out;
    }

}

@media(min-width: 45rem) {
    .butang-main {
        flex-direction: row;
    }
}
#about {
    //background-color: blue;
    //padding-bottom: 20rem;
    margin-bottom: 15rem;
}
.about-tajuk {
    color: $tajuk;
    font-size: $font-large;
    margin-top: 13.5rem;
}
.about-danial {
    // background-color: red;
    color: $p;
}
.bio-tajuk {
    color: $tajuk;
    font-size: $font-large;
    margin-top: 6rem;
}
.bio-danial {
    color: $p;
}
.sosials {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    margin-left: -0.5em;
    margin-bottom: -0.5em;
    align-items: center;
    //background-color: red;

    > * {
        margin-left: 0.5em;
        margin-bottom: 0.5em;
    }

    .sosial__icon {
        // background-color: red;
        padding: 0.7rem;
        size: 10rem;
    }
    .fa {
        font-size: 2rem;
    }
}
.kaki {
    background-color: $kekaki;
    height: 4rem;
    width: 100%;
    margin-top: 10rem;
    align-items: center;
}
.kekaki {
    padding-left: 45%;
    padding-top: 1rem;
    color: $white;
}
.credit-ku {
    padding-left: 82%;
    margin-top: -1.3rem;
}
.thing-danial-do {
    color: $tajuk;
    font-size: $font-large;
    padding-top: 5rem;
}
// .danial-hobby-tajuk {
//     color:$entahblue;
//     font-size: $font-medlarge;
//     margin-top: -1rem;
    
// }
.danial-hobby {
    margin-top: -1.5rem;
}