//^ Pengalaman page
.tajuk {
    font-size: $font-large;
}
.top-pengalaman-mini-tajuk{
    font-size: $font-medlarge;
    color: $toppengalaman;
    padding-top: 2rem;
}
.pengalaman-mini-tajuk{
    font-size: $font-medlarge;
    color: $pengalaman;
    padding-top: 7rem;
}
#kebolehan-aku {
    width: 85%;
    background-color: $gray;
    border-radius:10px;
    border-color: black;
}
.sts-kebolehan {
    height: 15px;
    text-align: center;
    line-height: 30px;
    color: $sup-green ;
    border-radius:10px; 
}
.helai {
    padding-bottom: 3rem;
}


//^ progress bar animation 
.html {
    width: 80%;
    background-color: $navyblue;
    animation: html 2s ease-in;
}
@keyframes html {
    0% {
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.css {
    width: 70%;
    background-color: $navyblue;
    animation: css 2s ease-in;
}
@keyframes css {
    0% {
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
.python {
    width: 60%;
    background-color: $navyblue;
    animation: python 2s ease-in;
}
@keyframes python {
    0% {
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
.javascript {
    width: 60%;
    background-color: $navyblue;
    animation: javascript 2s ease-in;
}
@keyframes javascript {
    0% {
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
.windows {
    width: 75%;
    background-color: $navyblue;
    animation: windows 2s ease-in;
}
@keyframes windows {
    0% {
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
.macos {
    width: 10%;
    background-color: $navyblue;
    animation: macos 2s ease-in;
}
@keyframes macos {
    0% {
        width: 0%;
    }
    100%{
        width: 10%;
    }
}
.arch {
    width: 65%;
    background-color: $navyblue;
    animation: arch 2s ease-in;
}
@keyframes arch {
    0% {
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
.debian {
    width: 60%;
    background-color: $navyblue;
    animation: debian 2s ease-in;
}
@keyframes debian {
    0% {
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
.ubuntu {
    width: 60%;
    background-color: $navyblue;
    animation: ubuntu 2s ease-in;
}
@keyframes ubuntu {
    0% {
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
.time-management {
    width: 65%;
    background-color: $navyblue;
    animation: timemanagement 2s ease-in;
}
@keyframes timemanagement {
    0% {
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
.fitness {
    width: 35%;
    background-color: $navyblue;
    animation: fitness 2s ease-in;
}
@keyframes fitness {
    0% {
        width: 0%;
    }
    100%{
        width: 35%;
    }
}
.creativity {
    width: 55%;
    background-color: $navyblue;
    animation: creativity 2s ease-in;

}
@keyframes creativity {
    0% {
        width: 0%;
    }
    100%{
        width: 55%;
    }
}
.logic {
    width: 65%;
    background-color: $navyblue;
    animation: logic 2s ease-in;

}
@keyframes logic {
    0% {
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
.bahasamelayu {
    width: 90%;
    background-color: $navyblue;
    animation: bahasamelayu 2s ease-in;

}
@keyframes bahasamelayu {
    0% {
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
.englishlanguage {
    width: 90%;
    background-color: $navyblue;
    animation: englishlanguage 2s ease-in;
}
@keyframes englishlanguage {
    0% {
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

//^ infomasi page

.contact-btn {
    width: 9rem;
    height: 3.5rem;
    border-radius: 10px;
    color: $gray;
    font-weight:bold;
    font-size: 1rem;
}
.resumedanialtajuk {
    font-size: $font-medlarge;
}
.resumedanial {
    height: 49rem;
    width: auto;
    padding-left: 10%;
}
@media(max-width: 767px){
    .resumedanial{
      height: 29rem;
      margin-left: -3.5rem;
    }
}

//^ sosials page

#sosial-main-page {
    width: 100%;
    padding-bottom: 2rem;
}
.danialcontact{
    padding-bottom: 10rem;
    font-size: $font-large;
}
.danialsosialcon .danial-links a{
	display: inline-block;
	height: 4rem;
	width: 4rem;
    font-size: 1.5rem;
	background-color: rgba(0, 38, 255, 0.2);
	margin:30px 20px 50px 10px;
	text-align: center;
	line-height: 63px;
	border-radius: 45%;
	color: #091800;
	transition: all 0.5s ease;
}
.danialsosialcon .danial-links a:hover{
	color: rgb(13, 197, 197);
	background-color: #043eff;
}

//^ lock page

.inputpass{
    margin-top: 13rem;
}

.logintext{
    color: $cyan;
    font-size: 2rem;
}

.formpass{
    margin-bottom: 5rem;
}

.sdisclamer{
    color: red;
    font-size: 0.6rem;
    padding-top: 14rem;
    padding-left: 2rem;
}

//^ dev page

.button-kosong {
    width: 9rem;
    height: 2.5rem;
    border-radius: 7px;
    color: $white;
    font-size: $font-sm;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    align-items: center;
    box-shadow: none;
}

.aliranmain1{
    display: flex;
    flex-direction: column;
}
.aliranbenda1{
    padding-top: 3rem;
    padding-left: 4rem;

    :first-child {
        padding-left: none;
    }
}
.nav-button{
    width: 4rem;
    height: 2.5rem;
    border-radius: 7px;
    color: $white;
    font-size: $font-sm;
    background-color: red;
    //background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    align-items: center;
    box-shadow: none;
}
@media(min-width: 49rem) {
    .aliranmain1 {
        flex-direction: row;
    }
    .nav-button{
        width: 3rem;
    }
}

.aliranmain{
    display: flex;
    flex-direction: column;
}
.aliranbenda{
    padding-top: 3rem;
    padding-left: 4rem;

    :first-child {
        padding-left: none;
    }
}
@media(min-width: 49rem) {
    .aliranmain {
        flex-direction: row;
    }
}
.toptext{
    font-size: $font-medlarge;
    margin-left: 30px;
    color: whitesmoke;
}


//^ workspace page

.wallpaper{
    height: 12rem;
    width: 24rem;
}
.nopadding{
    padding-top: 0;
    padding-left: 0.5rem;
}
code {
    font-family: Consolas,"courier new";
    color: rgb(0, 0, 0);
    background-color: #dadada;
    box-sizing: border-box;
    padding: 2px;
    font-size: 105%;
}
.codetitle{
    padding-top: 2.5rem;
}
.nostyle{
    list-style: none;
}
.butang-main-workspace {
    padding-top: 1rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-bottom: -0.5em;
    //background-color: red;

    > * {
        margin-left: 0.5em;
        margin-bottom: 0.5em;
    }

    .workspacesset1 {
        // background-color: $btn-1;
        text-align: center;
        font-size: $font-sm;
        border-radius: 7px;
        width: 20rem;
        height: 2.5rem;
        color: $gray;
        font-weight: $links-size;
        transition: ease-in-out 0.3s;
        box-shadow: none;
    }

    .workspacesset2 {
        // background-color: $btn-2;
        text-align: center;
        font-size: $font-sm;
        border-radius: 7px;
        width: 20rem;
        height: 2.5rem;
        color: $gray;
        font-weight: $links-size;
        transition: color 300ms ease-in-out;
        box-shadow: none;
    }

}

@media(min-width: 45rem) {
    .butang-main {
        flex-direction: row;
    }
}

//^ stuff page

.download-link{
    padding-bottom:5rem;
    color: red;
    background-color: red;
}
.img-bekas{
    max-width: 10px;
    border-radius: 15px;
    border-color: black;
}
.download-img{
    width:5rem;
}

//^ story page

.flexpic{
    width: 25rem;
    height: 17rem;
}