// @ Variables
@import "../Default/setcolor";

//@, Defalt color
$primary-color:#000080;
$secondary-color:hsl(192, 70%, 51%);

//@ Section 
$body-bg:$primary-color;
$body-color:$secondary-color;
$section-bg:$primary-color;
$section-color:$secondary-color;

//@ Font Style
$defalt-font:'Public Sans', sans-serif;
$h1-font:$defalt-font;
$h2-font:$defalt-font;
$h3-font:$defalt-font;
$h4-font:$defalt-font;
$h5-font:$defalt-font;
$p-font:$defalt-font;


//@, Text 
$h1:$black;
$h2:$black;
$h3:$black;
$h4:$black;
$h5:$black;
$p: $black;

//@ Button 
$button-color:$black;
$button-bg: $cyan;
$button-color-hover:$black;
$buttton-bg-hover:$cyan;

//@ Input 
$input-bg:$white;
$input-color:$black;
$input-focus-outline:none;

//@ Links
$link-color:cyan;
$link-color-hover:cyan;

//?, saiz font
$font-large:2.5rem;
$font-medlarge:2rem;
$font-med:1.125rem; //^ desktop links
$font-sm:0.975rem; //^ benda biasa
$links-size:700;
