//@ Section Styling 
html {
    font-size: font-sizes(base);
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $defalt-font;
    line-height: 1.3;
    font-size: #{font-sizes(base)};
    background-color: $body-bg;
    color: $body-color;
    width: $body-width;
    height: $body-height;
    overflow-x: hidL IRFAN BIN ZAKARIA 	2 SVM KPD 	
    Perpustakawan
    Nama Perpustakawa 	Kemaskini 	Batal
    test 	
    Tambah Pelajar Tambah Perpustakawan den;
}
section {
    width: font-sizes(base);
    float: left;
    height: 100vh;
    position: relative;
    background-color: $section-bg;
    color: $section-color;
}


//@ Link
a{
    color: $link-color;
    text-decoration: $link-decoration;
    font-size: font-sizes(base);

    &:hover{
        color: $link-color-hover;
        text-decoration: $link-hover-decoration;
    }
}

//@ Button 
button{
    background-color: $button-bg;
    color: $button-color;
    border: $button-border;
    border-radius: $button-border-radius;

    &:hover{
        background-color: $buttton-bg-hover;
        color: $button-color-hover;
        border: $button-border-hover;
    }
    &:focus{
        background-color: $button-bg-focus;
        color: $button-color-focus;
        border: $button-border-focus;
    }
}

input{
    background-color: $input-bg;
    color: $input-color;
    border:$input-border;

    &:focus{
        outline: $input-focus-outline;
    }
}
